<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
  </head>
  <body>
    <h1>Chately [WebSockets Test Client]</h1>
    <h2>Your Username: <span id="ws-name"></span></h2>
    <h2>Your ID: <span id="ws-id"></span></h2>
    <form action="" onsubmit="sendMessage(event)">
      <input type="text" id="messageText" autocomplete="off" />
      <button>Send</button>
    </form>
    <ul id="messages"></ul>
    <script>
      const userManager = (user) => {
        console.log(user);
        document.querySelector("#ws-id").textContent = user.user.websocket_id;
        document.querySelector("#ws-name").textContent = user.user.username;
      };

      // Some ajax
      var user = {};
      const url = "http://127.0.0.1:8000/api/v1/ws/";
      fetch(url, {
        method: "get",
        headers: new Headers({
          Authorization:
            "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTY1Njc5MjQsInN1YiI6ImFkbWluQGNoYXRlbHkuaW8ifQ.ShMtFF48JuhP_r95Vtob1J0S91UuP61ktQGJsIDjtps",
        }),
      })
        .then((response) => response.json())
        .then((text) => userManager(text));

      // var client_id = Date.now();
      // document.querySelector("#ws-id").textContent = client_id;
      // var ws = new WebSocket(`ws://localhost:8000/ws/${client_id}`);
      // ws.onmessage = function (event) {
      //   var messages = document.getElementById("messages");
      //   var message = document.createElement("li");
      //   var content = document.createTextNode(event.data);
      //   message.appendChild(content);
      //   messages.appendChild(message);
      // };
      // function sendMessage(event) {
      //   var input = document.getElementById("messageText");
      //   ws.send(input.value);
      //   input.value = "";
      //   event.preventDefault();
    </script>
  </body>
</html>
